<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								课程编号：<input type="text" name="tcCourseId"/>
							</li>

							<li>
								旧教材：<input type="text" name="tcOldTextbook"/>
							</li>

							<li>
								要更换的新教材：<input type="text" name="tcNewTextbook"/>
							</li>

							<li>
								新教材的价格：<input type="text" name="tcNewPrice"/>
							</li>

							<li>
								申请人(教师工号）：<input type="text" name="tcChangeBy"/>
							</li>

							<li>
								申请时间：<input type="text" name="tcUpTime"/>
							</li>

							<li>
								审核人(管理员ID）：<input type="text" name="tcCheckBy"/>
							</li>

							<li>
								审核时间：<input type="text" name="tcCheckTime"/>
							</li>

							<li>
								当前审核状态(0：提交，待审核;1：通过;2：驳回)：<input type="text" name="tcState"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:textbookChange:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:textbookChange:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:textbookChange:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:textbookChange:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:textbookChange:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:textbookChange:remove')}]];
        var prefix = ctx + "textbook/textbookChange";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "教材变更记录",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'tcId', 
					title : '记录编号',
					visible: false
				},
				{
					field : 'tcCourseId', 
					title : '课程编号',
					sortable: true
				},
				{
					field : 'tcOldTextbook', 
					title : '旧教材',
					sortable: true
				},
				{
					field : 'tcNewTextbook', 
					title : '要更换的新教材',
					sortable: true
				},
				{
					field : 'tcNewPrice', 
					title : '新教材的价格',
					sortable: true
				},
				{
					field : 'tcChangeBy', 
					title : '申请人(教师工号）',
					sortable: true
				},
				{
					field : 'tcUpTime', 
					title : '申请时间',
					sortable: true
				},
				{
					field : 'tcCheckBy', 
					title : '审核人(管理员ID）',
					sortable: true
				},
				{
					field : 'tcCheckTime', 
					title : '审核时间',
					sortable: true
				},
				{
					field : 'tcState', 
					title : '当前审核状态(0：提交，待审核;1：通过;2：驳回)',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.tcId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.tcId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>